# zmk-layout-shift Kconfig

config LAYOUT_SHIFT
    bool "Layout Shift"
    default y
    help
      Enable the Layout Shift module.

if LAYOUT_SHIFT

choice LAYOUT_SHIFT_TARGET_LAYOUT
    prompt "Target keyboard layout"
    default LAYOUT_SHIFT_TARGET_JIS
    help
      Select the target keyboard layout for layout shift mappings.
      This determines which key mappings are used when layout shift is active.

config LAYOUT_SHIFT_TARGET_JIS
    bool "Japanese (JIS)"
    help
      Japanese keyboard layout mappings.

config LAYOUT_SHIFT_TARGET_DVORAK
    bool "Dvorak"
    help
      Dvorak keyboard layout mappings.

config LAYOUT_SHIFT_TARGET_SWAP_CTRL_CMD
    bool "Swap Ctrl and Cmd"
    help
      Swap Ctrl / Cmd for Windows / Mac.

config LAYOUT_SHIFT_TARGET_JIS_FROM_US
    bool "Japanese (US)"
    help
      Japanese keyboard layout mappings from US.

endchoice

config LAYOUT_SHIFT_PERSISTENT_STATE
    bool "Layout Shift Persistent State"
    default y
    select SETTINGS
    help
      Enable persistent storage of layout shift state across reboots.
      This feature requires CONFIG_SETTINGS to be enabled.

endif
